.answerButton{
    background: url('../Images/my_profile_button.png') no-repeat;
    /* background: url('../Images/answer_plate.png') no-repeat; */
    cursor: pointer;
    border: none;
    width: 100%;
    background-size: 100% 100%;
    background-position: 50%;
        height: 100%;
}
.answerButtonText{
    /*text-transform: uppercase;*/
    padding: 2%;
    color: #fff;
    font-size: 20px;
    text-align: center;
}
