.gameTypeButonpanel{
       width: 65%;
    margin: 4% auto;
    height: 65%;

}
.gameTypeButton{
    float: left;
    width: 50%;
    height: 100%;
    position:relative;
    cursor: pointer;
}
.gameTypeButtonImage{
        height: 100%;
    width: 100%;
}
.gameCounter{
         position: absolute;
    width: 60px;
    height: 60px;
    background: #FFF;
    border-radius: 50px;
    right: 0;
    top: 10%;
    text-align: center;
    padding: 3% 0 0 0;
    font-weight: bold;
    font-size: 25px;
}
.gameCounterText{
    
}