.react-tabs__tab-list {
  /* margin: 0 0 10px;
  padding: 0; */
  background: url('../Images/bluebar.png') center no-repeat;
  background-size: contain;
  width: 100%;
  height: 100%;
  padding: 0;
  padding-left: 1.5%;
  padding-right: 1.5%;
}

.react-tabs__tab {
  display: inline-block;
  /* border: 1px solid transparent; */
  /* border-bottom: none; */
  /* bottom: -1px; */
  /* position: relative; */
  /* list-style: none; */
  padding: 2% 0%;
  cursor: pointer;
  width: 33.33%;
  text-align: center;
  color: #fff;
  font-size: 1.3em;
  font-weight: bolder;
  border-right: 2px solid transparent;
  margin-bottom: -2%;
}

.react-tabs__tab--selected {
  width: 33.33%;
  background: url('../Images/PinkLayerSmall.png') center no-repeat;
  background-size: 97%;
  color: #ffe400;
  text-align: center;
  margin: auto;
}

.react-tabs__tab-panel {
  display: none;
}

.react-tabs__tab-panel--selected {
  display: block;
  width: 100%;
  height: 100%;
}

.react-tabs__tab--disabled {
  color: GrayText;
  cursor: default;
}

.react-tabs__tab:focus {
  box-shadow: 0 0 5px hsl(208, 99%, 50%);
  border-color: hsl(208, 99%, 50%);
  outline: none;
}

.react-tabs__tab:focus:after {
  /* content: "";
  position: absolute;
  height: 5px;
  left: -4px;
  right: -4px;
  bottom: -5px;
  background: #fff; */
}