@import url('../node_modules/react-image-slider/lib/image-slider.css');

*, *:after, *:before {
    margin: 0;
    padding: 0;
    @include border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.wrapper {
    width: 100%;
    height: 100%;
    margin: 0 auto;

  }

.mainBackground {
  background: url('./Images/mainbackgroundminmin.jpg') no-repeat;
  position: relative;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  height: 100vh;
}

.headerProfileDiv{
  height: 100%;
  float: left;
  position: relative;
}

.headerProfileImage{
  width:100%;
  position: absolute;
}

.userProfileImage{
  border-radius: 50%;
  float: left;
  position: absolute;
  z-index: 1;
  height: 100%;
  width: 31%;
}



.headerStarDiv{

}

.headerMoneyDiv{
  height: 100%;
  position: relative;

}

.headerMoneyImage{
  position: relative;
  height: 80%;
  max-width: 100%;

}

.userMoneyStatus{
 
}

.selection-buttons{
  display: inline;
  height: 80%;

}

.card-button{

}

.rsc-slider-item_transparent {
    opacity: 0;
}

.cardButtonMainDiv {
    height: 38vh;
    margin: 0 auto;
    position: relative;
  }

.questionMark {
    position: absolute;
    width: 20%;
    left: 90%;
    bottom: -4%;
    cursor: pointer;
  }
